<a href="https://colab.research.google.com/github/Code-Abbey/Decision_Tree/blob/main/Decision_Tree_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#Importing our dataset from csv file
import pandas as pd

In [16]:
#Load Data
dataset=pd.read_csv("/content/drive/MyDrive/Machine Learning/titanic-passengers.csv",sep=";")

In [17]:
dataset.head()

   PassengerId Survived  Pclass  ...     Fare  Cabin  Embarked
0          343       No       2  ...  13.0000    NaN         S
1           76       No       3  ...   7.6500  F G73         S
2          641       No       3  ...   7.8542    NaN         S
3          568       No       3  ...  21.0750    NaN         S
4          672       No       1  ...  52.0000    B71         S

[5 rows x 12 columns]

In [18]:
#Preprocessing our data
def preprocess_data(new_data):
    new_data['Age'].fillna(new_data['Age'].mean(),inplace=True)
    new_data.replace({'Sex':{'male': 1,'female':0}},inplace=True)
    new_data['Cabin']=new_data.Cabin.fillna('G6')
    new_data.replace({'Survived':{'Yes': 1,'No':0}},inplace=True)
    return new_data
data=preprocess_data(dataset)

In [19]:
#importing relevant libraries
from sklearn.model_selection import train_test_split
from sklearn import tree   
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [20]:
#features extraction
x=data.drop(["Survived", "Name", "Cabin", "Ticket", "Embarked"], axis=1)
y= data["Survived"]

In [21]:
#splitting data
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,random_state=10)

In [22]:
#applying tree algorithm
tree = tree.DecisionTreeClassifier()  
tree.fit(x_train, y_train)   #fitting our model
y_pred=tree.predict(x_test)   # evaluating our model
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.776536312849162